@font-face {
    font-family: 'Spiegel';
    src: url("https://raw.githubusercontent.com/Pajul7/Pajul-s-Fonts/main/LOL_FONTS/Spiegel-TTF/Spiegel_TT_Regular.ttf") format("truetype");
}

@font-face { 
    font-family: 'Spiegel';
    font-weight: bold;
    src: url("https://raw.githubusercontent.com/Pajul7/Pajul-s-Fonts/main/LOL_FONTS/Spiegel-TTF/Spiegel_TT_Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Spiegel';
    font-style: italic;
    src: url("https://raw.githubusercontent.com/Pajul7/Pajul-s-Fonts/main/LOL_FONTS/Spiegel-TTF/Spiegel_TT_Regular_Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'Minecraft';
    font-weight: bold;
    font-style: italic;
    src: url("https://raw.githubusercontent.com/Pajul7/Pajul-s-Fonts/main/LOL_FONTS/Spiegel-TTF/Spiegel_TT_Bold_Italic.ttf") format("truetype");
}
